p.menu {
  background-color: silver;
  width: 300px;
}

p.menu + div {
  border: 1px solid silver;
  width: 300px;
  height: 400px;
}

/* 모든 속성에 대한 자료 */
a {
  display: inline-block;
  width: 300px;
  height: 150px;
  border: 1px solid silver;
}

a:link {
  background-color: darkblue;
  color: white;
}

/* 눌러진 상태 */
a:active {
  background-color: green;
  color: skyblue;
}

/* 마우스를 올린 상태 */
a:hover {
  color: magenta;
}

/* 방문 후 */
a:visited {
  background-color: yellow;
  color: darkblue;
}