nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  display: block;
  padding: 5px 10px;
  background-color: purple;
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

section ul li {
  list-style-type: square;
}

section ol li {
  list-style-type: lower-roman;
}

div.line {
  width: 700px;
  height: 2px;
  background-color: silver;
}

/*
  id: #
  class: .

*/

#area1 {
  background-color: red;
}

#area2 {
  background-color: blue;
}

.img-style {
  width: 300px;
  height: 150px;
}