#wrap {
  margin: 0 auto;
  padding: 0;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

header {
  background-color: black;
  opacity: 80%;
  color: white;
  padding: 0.5rem 10rem 0.5rem 2rem;
}

header h1 {
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

nav li, aside li {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin: 0 2rem;
}

nav li a {
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 3rem 0;
}

aside {
  padding: 0 3rem;
}

aside section h4 {
  font-size: 1.5rem;
}

.hr {
  background-color: gray;
  height: 0.1rem;
}

.hr, #wrap > footer {
  margin-left: 3rem;
}