.t {
  border: 3px solid black;
  width: 100px;
  height: 100px;
}

#wrap {
  /* 안에 있는 요소들을 어떻게 배치할 건지 */
  display: flex;
  /* main axis */
  flex-direction: row-reverse;
  flex-direction: column-reverse;
  flex-direction: column;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: silver;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
}